In [138]:
import pandas as pd
import json

In [133]:
file_path = '../data/Zerance_Mint_vs_BLVKHVND.json'
with open(file_path, 'r') as f:
    data = json.load(f)


match_name = list(data.keys())[0]
print(match_name)

team1, team2 = match_name.split('_vs_')
team1_name = team1.replace('_', ' ')
team2_name = team2.replace('_', ' ')


event_stats = data[match_name][0]
event_stats

#event_stats_df = pd.DataFrame(event_stats, index=[0])
#event_stats_df

event_stats_df = pd.DataFrame(data[list(data.keys())[0]][0], index=[0])
event_stats_df

Zerance_Mint_vs_BLVKHVND

                              Event        Date        Stage   Round
0  Game Changers 2025 EMEA: Stage 1  2025-02-21  Group Stage  Week 2

In [169]:
map_list = list(data[match_name][1].keys())

map_scored_df = pd.DataFrame(columns=['Map', 'Winner', 'TeamOneName', 'TeamTwoName', 'TeamOneFinalScore', 'TeamOneCTScore', 'TeamOneTScore', 'TeamOneOTScore', 'TeamTwoFinalScore', 'TeamTwoCTScore', 'TeamTwoTScore', 'TeamTwoOTScore'])

for i in map_list:
    map_name = i

    team1_stats = data[match_name][1][i]['Team Stats: '][team1_name]
    team2_stats = data[match_name][1][i]['Team Stats: '][team2_name]

    team1_score = team1_stats['final']
    team2_score = team2_stats['final']

    winner = team1_name if team1_score > team2_score else team2_name

    temp_df1 = pd.DataFrame({'Map': map_name, 'Winner': winner, 'TeamOneName': team1_name, 'TeamTwoName': team2_name, 'TeamOneFinalScore': team1_stats['final'], 'TeamOneCTScore': team1_stats['CT'], 'TeamOneTScore' : team1_stats['T'], 'TeamOneOTScore' : team1_stats['OT'], 'TeamTwoFinalScore': team2_stats['final'], 'TeamTwoCTScore' : team2_stats['CT'], 'TeamTwoTScore' : team2_stats['T'], 'TeamTwoOTScore' : team2_stats['CT']}, index=[0])

    map_scored_df = pd.concat([map_scored_df, temp_df1], ignore_index=True)

map_scored_df

,Map,Winner,TeamOneName,TeamTwoName,TeamOneFinalScore,TeamOneCTScore,TeamOneTScore,TeamOneOTScore,TeamTwoFinalScore,TeamTwoCTScore,TeamTwoTScore,TeamTwoOTScore
0,Abyss,Zerance Mint,Zerance Mint,BLVKHVND,13,11,2,0,1,0,1,0
1,Haven,BLVKHVND,Zerance Mint,BLVKHVND,10,6,4,0,13,7,6,7
2,Lotus,Zerance Mint,Zerance Mint,BLVKHVND,13,10,3,0,11,9,2,9

In [206]:
map_list = list(data[match_name][1].keys())

map_player_stats_df = pd.DataFrame(columns=['Map', 'PlayerName', 'Agent', 'Team', 'ACS_Overall','ACS_T', 'ACS_CT', 'Kills_Overall', 'Kills_T', 'Kills_CT',  'Deaths_Overall', 'Deaths_T', 'Deaths_CT', 'Assists_Overall', 'Assists_T', 'Assists_CT', 'KAST_Overall', 'KAST_T', 'KAST_CT', 'ADR_Overall', 'ADR_T', 'ADR_CT', 'HSPercentage_Overall', 'HSPercentage_T', 'HSPercentage_CT', 'FirstKills_Overall', 'FirstKills_T', 'FirstKills_CT', 'FirstDeaths_Overall', 'FirstDeaths_T', 'FirstDeaths_CT'])



for i in map_list:
    map_name = i

    map_player_stats = data[match_name][1][i]['Player Stats']
    
    for player in map_player_stats:
        player_name = player
        player_stats = map_player_stats[player]

        temp_df3 = pd.DataFrame({'Map' : map_name,'PlayerName': player_name, 'Agent': player_stats['Agent'], 'Team' : player_stats['Team'], 'ACS_Overall': player_stats['ACS']['All'], 'ACS_T':player_stats['ACS']['T'], 'ACS_CT': player_stats['ACS']['CT'], 'Kills_Overall' : player_stats['Elims']['All'], 'Kills_T': player_stats['Elims']['T'], 'Kills_CT': player_stats['Elims']['CT'], 'Deaths_Overall' : player_stats['Deaths']['All'], 'Deaths_T': player_stats['Deaths']['T'], 'Deaths_CT': player_stats['Deaths']['CT'], 'Assists_Overall' : player_stats['Assists']['All'], 'Assists_T': player_stats['Assists']['T'], 'Assists_CT': player_stats['Assists']['CT'], 'KAST_Overall' :player_stats['KAST']['All'], 'KAST_T': player_stats['KAST']['T'], 'KAST_CT': player_stats['KAST']['CT'], 'ADR_Overall' : player_stats['ADR']['All'], 'ADR_T': player_stats['ADR']['T'], 'ADR_CT': player_stats['ADR']['CT'], 'HSPercentage_Overall' : player_stats['HS_percentage']['All'], 'HSPercentage_T': player_stats['HS_percentage']['T'], 'HSPercentage_CT': player_stats['HS_percentage']['CT'], 'FirstKills_Overall' : player_stats['First Kills']['All'], 'FirstKills_T': player_stats['First Kills']['T'], 'FirstKills_CT': player_stats['First Kills']['CT'], 'FirstDeaths_Overall' : player_stats['First Deaths']['All'], 'FirstDeaths_T': player_stats['First Deaths']['T'], 'FirstDeaths_CT': player_stats['First Deaths']['CT']}, index=[0])

        map_player_stats_df = pd.concat([map_player_stats_df, temp_df3], ignore_index=True)

map_player_stats_df.head()

,Map,PlayerName,Agent,Team,ACS_Overall,ACS_T,ACS_CT,Kills_Overall,Kills_T,Kills_CT,...,ADR_CT,HSPercentage_Overall,HSPercentage_T,HSPercentage_CT,FirstKills_Overall,FirstKills_T,FirstKills_CT,FirstDeaths_Overall,FirstDeaths_T,FirstDeaths_CT
0,Abyss,Thuy,Astra,ZER.M,263,55,299,16,0,16,...,181,25%,0%,27%,1,0,1,0,0,0
1,Abyss,DREAM,Vyse,ZER.M,321,876,230,16,7,9,...,162,26%,35%,22%,3,1,2,0,0,0
2,Abyss,Loupiote,Tejo,ZER.M,229,89,253,12,1,11,...,157,30%,0%,33%,1,0,1,0,0,0
3,Abyss,Pinkalie,Breach,ZER.M,184,171,186,9,1,8,...,110,18%,14%,19%,1,0,1,2,0,2
4,Abyss,Akita,Jett,ZER.M,294,82,329,15,1,14,...,190,29%,0%,31%,3,0,3,3,1,2